*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.header {
  background-color: rgb(14, 14, 12);
}
.header:hover .header__nav {
  display: block;
}
.header__img {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__img a {
  color: rgb(203, 171, 91);
  font-size: 1.5em;
  padding: 20px;
}
.header__img p {
  color: rgb(203, 171, 91);
  text-align: center;
}
.header__nav {
  background-color: rgb(14, 14, 12);
  position: absolute;
  right: 0;
  top: 180px;
  width: 120px;
  height: 100%;
  display: none;
}
.header__nav a {
  color: rgb(203, 171, 91);
  text-align: center;
}
.header__nav a:hover {
  color: white;
}
.header__nav .nav__links a {
  display: block;
  padding: 10px;
}
.header__nav .nav__rrss {
  text-align: center;
}
.header__nav .nav__rrss a {
  padding: 4px;
}

@media (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    gap: 10%;
  }
  .header:hover .header__nav {
    display: block;
    position: static;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header:hover .header__nav .nav__links a {
    display: inline-block;
  }
  .header:hover .header__nav .nav__rrss {
    text-align: center;
    padding: 20px;
  }
  .header:hover .header__nav .nav__rrss a {
    padding: 4px;
  }
  .header__img {
    display: flex;
    gap: 10px;
  }
  .header__img p {
    display: none;
  }
  .header__img a {
    display: none;
  }
  .header__nav {
    display: block;
    position: static;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__nav .nav__links a {
    display: inline-block;
  }
  .header__nav .nav__rrss {
    text-align: center;
    padding: 20px;
  }
  .header__nav .nav__rrss a {
    padding: 4px;
  }
}
@media (min-width: 992px) {
  .header {
    gap: 5%;
  }
  .header__img {
    display: flex;
    gap: 10px;
  }
  .header__img p {
    display: block;
  }
}
@media (min-width: 1200px) {
  .header {
    gap: 10%;
    justify-content: space-between;
  }
  .header__img {
    display: flex;
    gap: 10px;
    width: 70%;
  }
  .header__img p {
    display: block;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.galeria {
  width: 80%;
  margin: 50px auto;
  position: relative;
}

.fotos img {
  display: none;
}
.fotos img.activo {
  display: block;
}

.flechas {
  position: absolute;
  top: 40%;
  left: 5%;
  right: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.flecha {
  color: black;
  font-size: 2em;
  transition: all 0.5s ease;
  cursor: pointer;
}
.flecha:hover {
  opacity: 0.7;
  transition: all 0.5s ease;
}

.puntos {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 10px 0;
}

.footer {
  background-color: rgb(14, 14, 12);
}
.footer__contenido {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__contenido .footer__img {
  color: rgb(203, 171, 91);
  display: flex;
  align-items: center;
  padding: 30px;
}
.footer__contenido .footer__img p {
  text-align: center;
}
.footer__contenido .footer__rrss {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3px;
  padding: 10px;
}
.footer__contenido .footer__rrss a {
  color: rgb(203, 171, 91);
  padding: 2px;
}
.footer__contenido .footer__rrss a:hover {
  color: white;
}
.footer__copy {
  border-top: 1px solid white;
  padding: 10px;
}
.footer__copy p {
  color: white;
  text-align: center;
}

@media (min-width: 576px) {
  .footer .footer__img {
    gap: 16%;
    width: 80%;
  }
  .footer .footer__rrss {
    display: flex;
    padding: 20px;
  }
  .footer .footer__rrss a {
    padding: 10px;
  }
}
@media (min-width: 768px) {
  .footer .footer__img {
    gap: 20%;
    width: 80%;
  }
  .footer .footer__rrss {
    display: flex;
    padding: 20px;
  }
  .footer .footer__rrss a {
    padding: 10px;
  }
}
@media (min-width: 992px) {
  .footer .footer__img {
    gap: 25%;
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .footer .footer__img {
    gap: 35%;
    width: 80%;
  }
}/*# sourceMappingURL=estilos.css.map */