*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.contenedor90{
    width: 90%;
    margin: 0 auto;
}
/*Flex y wrap*/
.flex{
    display: flex;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
}

/*Header*/
header{
    background-color: rgb(131, 59, 156);
    text-align: center;
}
nav{
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}
header a{
    color: white;
    margin: 10px auto;
}
header a:hover{
    background-color: white;
    color: rgb(131, 59, 156);
    padding: 10px;
}
/*Section1*/
.padding10{
    padding: 10px;
    text-align: center;
}
div div a{
    margin-top: 15px;
    border: 1px solid rgb(131, 59, 156) ;
    border-radius: 10px;
    padding: 5px;
    display: block;
}
div div a:hover{
    background-color:rgb(131, 59, 156) ;
    color: white;
}
.col-3{
    width: 100%;
}

.hijo3, .hijo4{
    display: none;
}
.contenedor{
    width: 80%;
    margin: 0 auto;
}
.centro{
    align-items: center;
}
/*Section 2*/
.margintop{
    margin-top: 10px;
}

/*Footer*/

footer{
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    background-color:rgb(131, 59, 156) ;
}
footer div div a{
    border: none;
    color: white;
    margin: 0;
}



footer .col-6{
    width: 100%;
}
.alinearvertical{
    align-items: center;
}
.padding20{
    padding: 20px;
}


.detalle .col-6 {width: 50%;}
.col-2 {width: 16.66%;}
.col-10 {width: 83.33%;}

@media (min-width: 576px) {}
@media (min-width: 768px) { 
    nav{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    nav a:nth-child(1){
            order: 3;
    }
    nav a:nth-child(2){
        order: 1;
    }
    nav a:nth-child(3){
        order: 2;
    }
    nav a:nth-child(4){
        order: 4;
    }
    nav a:nth-child(5){
        order: 5;
    }
    .col-3{
        width: 50%;
    }
    .col-6{
        width: 50%;
    }
    
}
@media (min-width: 992px) {
    .hijo3{
        display: block;
    }
    footer .col-3{
        width: 50% ;
    }
    .col-3{
        width: 33.33%;
    }
 }
@media (min-width: 1200px) {

        .hijo4{
            display: block;
        }

        .col-3{
            width: 25%;
        }

        footer .col-3{
            width: 25%;
        }
        footer .col-6{
            width: 50%;
        }




    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
 }
@media (min-width: 1400px) { }