@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@200;300;400;500;600;700&family=Truculenta:opsz,wght@12..72,100.. 900&display=intercambio');
@font-face{
    font-family: 'hola';
    src: url(../Fonts/Maitree\,Truculenta/Maitree);
}
h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
  font-family: 'Maitree', 'serif';
}

h3{
    font-family: 'Truculenta', 'sans-serif';
    font-weight: 700;
}
h4{
    font-family: 'Hola' sans-serif;
}