*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
.audio{
    display: grid;
    gap: 40px;
    width: 80%;
    margin: 100px auto;
    .contenido{
        
        height: 100%;
        border: 1px solid red;
            &__h2{
                padding: 20px 10px;
                text-align: left;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                font-size: 2em;
            }
            &__p{
                padding: 20px;
            }
            &__img{
                padding: 20px;
                text-align: center;
            }
    }
    .lista{
        border: 1px solid red;
        display: grid;
        gap: 40px;
        
        .numeros{
            text-align: center;
            &__h3{
                padding: 10px;
            }
        }
    }
}



@media (min-width: 576px) { }
@media (min-width: 768px) { }
@media (min-width: 992px) {}
@media (min-width: 1200px) {
    .audio{
    grid-template-columns: 1fr 1fr;
    gap: 100px;
        .lista{
            .numeros{
                display: grid;
                grid-template-columns: 1fr 1fr;
                text-align: center;
                
            }
        }
    } }
@media (min-width: 1400px) { }