* {
  margin: 0;
  padding: 0;
  
  /*Cosas Globales de mi Pagina*/
}
body {
  background-color: lightgray;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
/*Header*/

/*foto*/

header {
  text-align: center;
}
/*logos redes*/

header div {
  text-align: right;
  margin: 15px;
}
header div a {
  margin: 10px;
}
/*barra navegacion*/

header nav {
  text-align: right;
  padding: 15px;
}
header nav a {
  background-color: black;
  color: white;
  padding: 15px 40px;
  margin: 15px auto;
}
nav a:nth-child(2){
    background-color: red
}
header nav a:hover {
  background-color: white;
  color: black;
}


/*Sections Clase General*/

.contenedor {
  width: 70%;
  text-align: center;
  padding: 30px;
  margin: 30px auto;
  background-color: white;
}


/*Primer Section*/

#h2_1 {
  text-align: left;
}


/*Segundo Section*/ 

.contenedor2{
  width: 40%;
  text-align: center;
  padding: 30px;
  margin: 30px auto;
  background-color: white;
}

.principal::first-line, span{
    color: red;
    text-decoration: underline;
}

/*Tercer Section*/

.foto {
  margin: 20px;
}

.capital::first-letter{
    font-size: 50px;
    color: red;
}

/*Cuarto Section*/

#iframe {
  width: 90%;
}
#h2_2 {
  text-align: right;
}


/*Quinto Section*/

.contenedor5{
  width: 70%;
  text-align: center;
  padding: 3px 30px;
  margin: 5px auto;
  background-color: white;
}


/*Footer*/

footer img{
    margin: 15px;
    vertical-align: bottom;
}


