*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
header{
    position: relative;
    
}
.cabecera-fija{
    background-color: black;
    color: white;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px white solid;
    position: relative;
    z-index: 9999;
}
/*header:hover .cruz{
    display: block;

}
header:hover .barra{
    display: none;
}*/
.salir{
    top: 91px;
    transition: all 0.5s ease;
}
.header-lateral{
        left: 0px;
        transition: all 0.5s ease;
    }
.header-fijo{
    position: sticky;
    top: 0;
    z-index: 9999999;
    img{
        display: none;
    }
    nav{
        background-color: rgba(0, 0, 0, 0.143);
        padding: 10px;

    }
}
.ocultar{
    display: none;
}
.cruz{
    
    cursor: pointer;
}
.barra{
    
    cursor: pointer;
}
nav{  
    position: absolute;
    width: 100%;
    top: -300px;
    transition: all 0.5s ease;
}
/*header:hover nav{
    transition: all 0.5s ease;
    top: 91px;
}*/
nav ul li a{
    display: block;
    color: white;
    background-color: black;
    padding: 10px;
    text-transform: uppercase;
    transition: all 0.5s ease;
    position: relative;
}
nav ul li a:hover{
    background-color: gray;
    transition: all 0.5s ease;
}
nav ul li ul{
    background-color: white;
    opacity: 1;
}

nav ul li ul li{
    opacity: 0;
    height: 0;
}
nav ul li:hover ul li{
    opacity: 1;
    height: 50px;
    transition: all 0.5s ease;
}
nav ul li  ul li a{
    background-color: white;
    color: black;
     
}
.flecha-menu{
    position: absolute;
    right: 10px;
    transition: all 0.5s ease;
}
nav ul li a:hover .flecha-menu{
    transform: rotate(90deg);
    transition: all 0.5s ease;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
.col-3{
    width: 100%;
    padding: 5px;
}

.contenedor{
    width: 90%;
    margin: 50px auto;
}
.cortina{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.396);
}
.subida .cortina{
    height: 100%;
    top: 100%;
    transition: all 0.5s ease;
}
.cortina p{
    padding: 10px;
    color: white;
}
.subida, .bajada, .lateral, .centro{
    position: relative;
    overflow: hidden;
}
.subida:hover .cortina{
    top: 50%;
    height: 100%;
    transition: all 0.5s ease;
}
.subida img, .bajada img, .lateral img, .centro img{
    display: block;
}
.subida :hover{
    filter: blur(2px);
    transition: all 0.5s ease;
}
.abajo :hover{
    filter: sepia(70%);
    transition: all 0.5s ease;
}
.lateral :hover{
    filter: grayscale(100%);
    transition: all 0.5s ease;
}

.bajada .cortina{
    top: -50%;
    transition: all 0.5s ease;
}

.bajada:hover .cortina{
    top: 0;
    height: 50%;
    transition: all 0.5s ease;
}

.lateral .cortina{
    top: 0;
    width: 50%;
    height: 100%;
    transition: all 0.5s ease;
    left: -50%;
}
.lateral:hover .cortina{
    top: 0;
    left: 0;
    transition: all 0.5s ease;
}
.centro .cortina{
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    opacity: 0;
    transition: all 0.5s ease;
}
.centro:hover .cortina{
    opacity: 1;
    transition: all 0.5s ease;
}
.flecha-abajo{
    background-color: black;
    color: white;
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    font-size: 1.5em;
    border-radius: 30px;
    animation: parpadeo 2s ease infinite, rebote 2s ease infinite, rotate 4s ease infinite;
}

.anima-top{
    animation: salto 0.5s ease 1;
    animation-timeline: view();
}
.anima-left{
    animation: salto2 0.5s ease 1;
}
@media (min-width: 768px) {
        .barra.ocultar , .cruz.ocultar{
            display: none;
        }
        
        
        .cabecera-fija{
            justify-content: center;
        }
        nav{
            position: static;
            background-color: black;
        }
        nav > ul{
            display: flex;
            justify-content: center;
        }
        nav ul li a{
            position: relative;
            width: 150px;
            text-align: center;
        }
        .flecha-menu{
            position: absolute;
            right: 0;
            padding: 0 5px;
        }
        nav ul li ul{
            position: absolute;
        }
        .col-3{
            width: 50%;
        }
 }

@media (min-width: 1200px) {
    header{
        position: fixed;
        width: 350px;
        height: 100%;
        background-color: black;
        left: -300px;
        z-index: 3;
        transition: all 0.5s ease;
    }
    
    nav{
        width: 250px;
        margin: auto;
    }
    
    nav > ul{
        display: flex;
        flex-direction: column;
    }
    nav ul li a{
        width: 100%;
    }
    nav ul li ul{
        position: static;
    }
    .cruz.ocultar{
        display: none;
    }
        
    
    
    .barra{
        display: block;
    }
    .cabecera-fija{
        justify-content: space-between;
    }
    .col-3{
        width: 25%;
    }

 }


 @keyframes parpadeo {
    0%{
        background-color: black;
    }
    50%{
        background-color: rgb(153, 46, 46);
    }
    100%{
        background-color: black;
    }
 }
 @keyframes rebote {
    0%{
        bottom: 10px;
    }
    50%{
        bottom: 15px;
    }
    100%{
       bottom: 10px;
    }
}

  @keyframes rotate  {
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes salto {
    0%{
        top: 0px;
    }
    50%{
        top: 20px;
    }
    100%{
       top: 0px;
    }
  }
  @keyframes salto2 {
    from{
        left: -200px;
    }
    to{
        left: 0;
    }
  }