*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
header{
    position: relative;
}
.cabecera-fija{
    background-color: black;
    color: white;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px white solid;
    position: relative;
    z-index: 9999;
}
header:hover .cruz{
    display: block;

}
header:hover .barra{
    display: none;
}
.cruz{
    display: none;

}
nav{  
    position: absolute;
    width: 100%;
    top: -300px;
    transition: all 0.5s ease;
}
header:hover nav{
    transition: all 0.5s ease;
    top: 91px;
}
nav ul li a{
    display: block;
    color: white;
    background-color: black;
    padding: 10px;
    text-transform: uppercase;
    transition: all 0.5s ease;
    position: relative;
}
nav ul li a:hover{
    background-color: gray;
    transition: all 0.5s ease;
}
nav ul li ul{
    background-color: white;
    opacity: 1;
}

nav ul li ul li{
    opacity: 0;
    height: 0;
}
nav ul li:hover ul li{
    opacity: 1;
    height: 50px;
    transition: all 0.5s ease;
}
nav ul li  ul li a{
    background-color: white;
    color: black;
     
}
.flecha-menu{
    position: absolute;
    right: 10px;
    transition: all 0.5s ease;
}
nav ul li a:hover .flecha-menu{
    transform: rotate(90deg);
    transition: all 0.5s ease;
}





@media (min-width: 768px) {
        .barra , .cruz{
            display: none;
        }
        header:hover .cruz{
            display: none;
        
        }
        header:hover .barra{
            display: none;
        }
        .cabecera-fija{
            justify-content: center;
        }
        nav{
            position: static;
            background-color: black;
        }
        nav > ul{
            display: flex;
            justify-content: center;
        }
        nav ul li a{
            position: relative;
            width: 150px;
            text-align: center;
        }
        .flecha-menu{
            position: absolute;
            right: 0;
            padding: 0 5px;
        }
        nav ul li ul{
            position: absolute;
        }
 }

@media (min-width: 1200px) {
    header{
        position: fixed;
        width: 350px;
        height: 100%;
        background-color: black;
        left: -300px;
    }
    header:hover{
        left: 0px;
        transition: all 0.5s ease;
    }
    nav{
        width: 250px;
        margin: auto;
    }
    
    nav > ul{
        display: flex;
        flex-direction: column;
    }
    nav ul li a{
        width: 100%;
    }
    nav ul li ul{
        position: static;
    }
    header:hover .cruz{
        display: block;
    
    }
    header:hover .barra{
        display: none;
    }
    .cruz{
        display: none;
    
    }
    .barra{
        display: block;
    }
    .cabecera-fija{
        justify-content: space-between;
    }

 }
