/*generales*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
body{
    font-family: $tipo-cuerpo;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: $tipo-titular;
}