/*inicio*/
section {
  width: 90%;
  margin: 50px auto;
}
.productos {
  &__titular {
    text-align: center;
    margin: 1em 0;
  }
  &__card {
    display: grid;
    gap: 1em 0;
  }
  .card {
    border: 1px solid $color-negro;
    &__texto {
      margin: 1em 0;
      padding: 0.5em;
    }
    &__img {
      width: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      &:hover {
        opacity: 0.5;
        transition: all 0.5s ease;
      }
    }
    &__btn {
      text-align: center;
    }
  }
}

.servicios {
  display: grid;
  gap: 1em 0;
  &__titular {
    text-align: center
  }
  &__contenido {
    display: grid;
    gap: 1em 0;
    &--revert {
    }
  }
  &__imagen {
  }
  &__img {
    @extend .card__img;
  }
  &__texto {
  }
}

.btn {
  @include btn;
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
  section {
    width: 70%;
  }
  .productos {
    &__card {
      gap: 2em;
      grid-template-columns: 1fr 1fr;
    }
  }
}
@media (min-width: 992px) {
  .servicios {
    &__contenido {
      gap: 1em;
      grid-template-columns: 1fr 1fr;
    }
  }
}
@media (min-width: 1200px) {
  .productos {
    &__card {
      gap: 2em;
      grid-template-columns: repeat(4, 1fr);
    }
  }
  .servicios{
    &__contenido{
        grid-template-columns: 1fr 2fr;
        &--revert{
            grid-template-columns: 2fr 1fr;
        }
    }

  }
}
@media (min-width: 1400px) {
}
