*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.galeria{
    width: 80%;
    margin: 50px auto;
    position: relative;
}
.fotos{
    img{
        display: none;
        &.activo{
            display: block;
        }
    }
}
.flechas{
    position: absolute;
    top: 40%;
    left: 5%;
    right: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    
}
.flecha{
    color: white;
    font-size: 2.5em;
    transition: all 0.5s ease;
    cursor: pointer;
    &:hover{
        opacity: 0.7;
        transition: all 0.5s ease;
    }
}
.puntos{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 10px 0;
}

.eventos{
    h1{
        text-align: center;
        font-size: 2.5em;
        
    }
    &__medina{
        width: 80%;
        margin: auto;
        padding: 100px;
        h2{
            text-transform: uppercase;
            padding: 10px;
        }
        .img{
            width: 80%;
            margin: auto;
        }
        .medina__images{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 20px;
            padding: 50px;
            img{
                transition: all 0.5s ease;
                &:hover{
                    transition: all 0.5s ease;
                    transform: scale(1.2);
                }
            }
        }
    }
}